<div dojoAttachPoint='container' style="position:absolute; top:0px; left:0px; width:100%">
	<div dojoAttachPoint='tb' dojoType="dijit.Toolbar" class="sakiMenuBar">
			<div dojoType="dijit.form.DropDownButton">
				<span>Start</span>
				<div dojoType="dijit.Menu">
					<div dojoType="dijit.PopupMenuItem">
						<span>All Services</span>
						<div dojoType="dijit.Menu" dojoAttachPoint='mStart'>
						</div>
					</div>
					<div dojoType="dijit.MenuItem" dojoAttachPoint='setupDesktop'>Desktop Settings</div>
					<div dojoType="dijit.MenuItem" dojoAttachPoint='setupDocklet'>Docklet Settings</div>
				</div>
			</div>
			<!--<div dojoType="dojox.layout.Dock" autoPosition = "south" dojoAttachPoint="dock" />-->
			<div dojoType="dijit.form.Button" style="position:absolute;right:0;top:0;" dojoAttachPoint="timeButton">
				<div dojoAttachPoint="time">coming...</div>
			</div>
<!--			<div dojoType="dijit.form.Button" style="position:absolute;right:100px;top:0">
				<span dojoAttachPoint='calendar'><input name="noDOMvalue" type="text" dojoType="dijit.form.DateTextBox"></span>
			</div>
-->
	</div>
</div>
