<div>
	<div class="douban" style="margin:10px">
		<div dojoAttachPoint="inputArea">
			<input type="text" dojoAttachPoint="inputnode" size="30" style="margin-left:5px;"/>
			<button dojoAttachEvent="onclick:onsubmit">Search</button>
		</div>

		<div class="resultList" style="height:400px;width:220px;float:left">
			<select size="30" dojoAttachPoint="resultList" style="width:200px; height:400px" dojoAttachEvent="onchange:changeSelected">
			</select>
		</div>
		
		<div class="resultArea" dojoAttachPoint="resultArea" style="height:400px; width:340px; float:left">
			<div class="result" dojoAttachPoint="result" style="width:100%; height:380px; overflow:auto">
			</div>
			<button dojoAttachEvent="onclick:onnext" style="float:right; color:blue">&gt;</button>
			<button dojoAttachEvent="onclick:onprev" style="float:right; color:blue">&lt;</button>
		</div>
	</div>
</div>
