<div style="margin:10px">
	<div class="inputpane">
		Input here:<input type="text" dojoAttachPoint="inputNode" size="20" style="margin-left:5px;"/>
		<button dojoAttachEvent="onclick:onSubmit">Query</button>
		<button dojoAttachPoint="nextPageButton" dojoAttachEvent="onclick:nextPage" style="float:right">&gt;&gt;</button>
		<button dojoAttachPoint="prevPageButton" dojoAttachEvent="onclick:prevPage" style="float:right">&lt;&lt;</button>
	</div>
	<div id="photoContainer" dojoAttachPoint="photoContainer">
	</div>
</div>
