<div style="margin:10px">
	<div class="inputpane"><p>
		Input here:<input type="text" dojoAttachPoint="inputNode" size="20" style="margin-left:5px;"/>
		<button dojoAttachEvent="onclick:onSubmit">Query</button></p>
	</div>
	<hr/>
	<div><table dojoAttachPoint="resultTable" style="width:280px"><tbody>
		<tr><td>IP</td><td dojoAttachPoint="result_ip"></td></tr>
		<tr><td>Country</td><td dojoAttachPoint="result_country"></td></tr>
		<tr><td>Region</td><td dojoAttachPoint="result_region"></td></tr>
		<tr><td>City</td><td dojoAttachPoint="result_city"></td></tr>
		<tr><td>Zip/Postal Code</td><td dojoAttachPoint="result_postcode"></td></tr>
		<tr><td>Coordinate</td><td dojoAttachPoint="result_coordinate"></td></tr>
		<tr><td>Time Zome</td><td dojoAttachPoint="result_timezone"></td></tr>
	</tbody></table></div>
	<br/>
	<div align="right">Powered by <img src="http://mirrors.ipinfodb.com/ipinfodb/assets/img/logo.gif" style="height:15px"></img></div>
</div>
