<div>
	<div class="inputpane">
		Input here:<input type="text" dojoAttachPoint="inputNode" size="20" style="margin-left:5px;"/>
		<button dojoAttachEvent="onclick:onSubmit">Query</button>&nbsp;&nbsp;
		<button dojoAttachPoint="prevButton" dojoAttachEvent="onclick:prevPage">&lt;</button>
		<button dojoAttachPoint="nextButton" dojoAttachEvent="onclick:nextPage">&gt;</button>
	</div>
	<div dojoAttachPoint="resultInfo"></div>
	<div dojoAttachPoint="resultPane" style="overflow:auto; width:380px; height:310px; margin:10px"></div>
</div>
