.imashupiGrid {
 	margin: 5px 5px 5px 5px;
}

.imashupiGrid table{
  border: 1px solid rgb(195, 217, 255);
}

.imashupiGrid table{
  border-collapse: collapse;
}

.imashupiGrid tbody{
  text-align:center;
  cursor: pointer;
  margin: 5px 0 5px 0;
}

.imashupiGrid tbody tr{
  font-size: 9px;
  line-height:1.4em;
}
.imashupiGrid tbody td{
	padding: 2px 3px 2px 3px;
}
.imashupiGrid tbody td.name{
	font-size: 12px;
	background: rgb(195, 217, 255);
}

.imashupiGrid .center {
	padding: 3px;
	text-align: center;
}